<?xml version="1.0" encoding="utf-8"?>
<configuration>     
  <appSettings>
    <!--Environment examples dev1, test1-->
    <add key="Environment" value="dev1" />
    <add key="Browser" value="" />
    <add key="RemoteDriverHub" value="http://localhost:4444/wd/hub" />
    <!--<add key="Browser" value="Remote" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings> 
</configuration>